* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 60px 32px;
  background: #202035;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: clamp(24px, 5vw, 48px);
  display: flex;
  align-items: center;
}

h1 img {
  width: 48px !important;
  height: 48px !important;
}

input {
  padding: 4px 16px;
  max-width: 1000px;
  width: 100%;
  max-width: 280px;
  height: 56px;
  border-radius: 4px;
  font-size: 16px;
}

@media (min-width: 569px) {
  input {
    max-width: 540px;
  }
}

@media (min-width: 1025px) {
  input {
    max-width: 800px;
  }
}

label {
  width: 100%;
  max-width: 280px;
  text-align: left;
  padding-block-start: 48px;
}

@media (min-width: 569px) {
  label {
    max-width: 540px;
  }
}

@media (min-width: 1025px) {
  label {
    max-width: 800px;
  }
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1000px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.preview p {
  font-size: 18px;
}

canvas {
  background: transparent; /* Changed from #fff */
  border: none; /* Removed border */
  border-radius: 16px;
  width: 300px;
  height: 150px;
}

button {
  background: #7300ff;
  border: solid 1px #fff;
  color: #fff;
  border-radius: 60px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  padding: 8px 10px;
  cursor: pointer;
}

button:hover {
  background: #5a00cc;
}