.App {
  text-align: center;
  padding: 20px;
  background: #202035;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: clamp(24px, 5vw, 48px);
  display: flex;
  align-items: center;
}

h1 img {
  width: 48px !important;
  height: 48px !important;
}

input {
  padding: 5px;
  max-width: 1000px;
  width: 100%;
  max-width: 800px;
  height: 56px;
  border-radius: 4px;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1000px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.preview p {
  font-size: 18px;
}

canvas {
  background: transparent; /* Changed from #fff */
  border: none; /* Removed border */
  border-radius: 16px;
  width: 300px;
  height: 150px;
}

button {
  background: #7300ff;
  border: solid 1px #fff;
  color: #fff;
  border-radius: 60px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  padding: 8px 10px;
}

button:hover {
  background: #5a00cc;
}